@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Ivan Chub:</strong>   <a href="mailto:ivanchubster@gmail.com">ivanchubster@gmail.com</a><br />
    <strong>Brian Gu:</strong> <a href="mailto:brianofpi@gmail.com">brianofpi@gmail.com</a> <br />
    <strong>Dylan Milligan</strong> <a href="mailto:dilliganz@gmail.com">dilliganz@gmail.com</a> <br />
</address>