@{
    ViewBag.Title = "Help";
}

<div id="help" class="page">
    <div id="content">
        <h2>Controls</h2>
        <ul>
            <li>
                Right click and drag on the canvas to draw.
            </li>
            <li>
                Use the controls on the top to change your tool, or your tool's properties.
            </li>
            <li>
                Hold "alt" and drag to move the canvas if part of it is outside the screen.
                <ul>
                    <li>
                        Press the "r" key to reset the canvas to its original position in the center of the screen.
                    </li>
                </ul>
            </li>
            <li>
                To change your username, click on the "people" icon in the top left of the messenger.
            </li>
            <li>
                To toggle the messenger, click on its top bar.
            </li>
        </ul>

        <h2>LaTeX</h2>
        When writing a message, sorround any text you want to be rendered with LaTeX in backticks. For example: `\sin\frac{\pi}{\2}`. Many math commands are supported, but don't expect to be able to use the full set of commands available in LaTeX, this is a browser, after all.
    </div>
</div>