@{
    ViewBag.Title = "Home";
}

<div id="index" class="page">
    <div id="pageBackground" style="background-image:url(/Content/img/background.jpg)"></div>
    @Html.Partial("BoardCreationPartial")
</div>