@{
    ViewBag.Title = "Home Page";
}

<div id="createContainer">
    <div id="createDiv">
        <h1>Create a Board</h1>
        @Html.Partial("BoardCreationPartial")
    </div>
</div>

<div id="infoContainer">

</div>