@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Collaboration Board</h1>
    <p class="lead">DESCRIPTION</p>
    <p><button id="newBoard" class="btn btn-primary btn-lg">Learn more &raquo;</button></p>
</div>

<script>
    window.onload = function () {
        $("#newBoard").click(function (e) {
            Collab.CreateBoard().done(function (data) {
                var id = data.Id;

                window.location = Collab.CreateBoardUrl(id);
            });
        });
    }
</script>