body {
    margin: 0;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: default;

    #drawCanvas {
        background-color: #ffffff;
        cursor: default;
        box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        width: 2000px;
        height: 2000px;
    }
}

.cursorContainer {
    display: none;
    width: auto;
    height: auto;
    position: absolute;

    .cursor {
        cursor: default;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 20pt;
    }
}

.entity {
    z-index: 20;
    top: 0px;
    left: 0px;
}

.entityText {
    height: 20px;
}

.entityContainer {
    display: inline-block;
    background-color: red;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
}

@messageWidth: 300px;
@messageMargin: 20px;
@inputHeight: 25px;
@messengerBackColor: #dbdbdb;
@messageColor: white;
@messageShadowColor: #b4b4b4;
@messageHeaderColor: #ffd800;

.messenger {
    background-color: @messengerBackColor;
    position: absolute;
    top: 0px;
    left: 0px;
    width: @messageWidth;
    height: 100vh;

    .messageContainer {
        width: 100%;
        height: ~"calc(100vh - " @inputHeight ~")";
        -webkit-flex: 1 1 auto;
        justify-content: flex-start;
        flex-flow: column;
        overflow-y: scroll;
        padding-bottom: @messageMargin;

        .message {
            background-color: @messageColor;
            display: inline-block;
            margin-left: @messageMargin;
            margin-right: @messageMargin;
            margin-top: @messageMargin;
            width: calc(@messageWidth - 2 * @messageMargin - 17px);
            min-height: 0;
            min-width: 0;

            .content {
                white-space: pre-wrap;
                word-wrap: break-word;
                padding: 10px;
            }

            .header {
                height: 25px;
                width: 100%;
                background-color: @messageHeaderColor;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 3px;
            }

            .emptyHeader {
                height: 3px;
                padding: initial;
            }

            .footer {
                height: 3px;
                width: 100%;
                background-color: @messageShadowColor;
            }
        }
    }

    .inputContainer {
        position: absolute;
        width: 100%;
        display: inline-block;
        background-color: red;

        .input {
            height: @inputHeight;
            outline: 0;
            width: 100%;
        }
    }
}
