#container {
    display: flexbox;
    justify-content: center;
    width: 100%;
    height: 95vh;

    #drawCanvas {
        background-color: red;
        width: 800px;
        height: 600px;
    }
}
