body {
    margin: 0;
    overflow: hidden;
}

.noSelect {
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fullSize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexBox {
    display: flexbox;
}

@canvasSize: 2000px;

.canvasType {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    width: @canvasSize;
    height: @canvasSize;
}

#canvasContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: @canvasSize;
    height: @canvasSize;
    background-color: white;
}

#bufferContainer {
    width: @canvasSize;
    height: @canvasSize;

    .buffer {
        .canvasType;
    }
}

#finalDrawCanvas, #drawCanvas {
    .canvasType;
}

.cursorContainer {
    display: none;
    width: auto;
    height: auto;
    position: absolute;

    .cursor {
        .noSelect;
        font-size: 20pt;
    }
}

.entity {
    z-index: 20;
    top: 0px;
    left: 0px;
}

.entityText {
    height: 20px;
}

.entityContainer {
    display: inline-block;
    background-color: red;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
}

@toolboxWidth: 2000px;

#toolbox {
    position: absolute;
    top: 0px;
    left: ~"calc(100vw / 2" - @toolboxWidth / 2 ~")";
    width: @toolboxWidth;
    height: 20px;
    background-color: red;
    display: none;
}

@messageWidth: 300px;
@messageMargin: 10px;
@sameUserMessageMargin: 0px;

@inputHeight: 25px;
@messengerTopBarHeight: 30px;
@messengerMessagesHeight: 500px;

@messengerBackColor: #e8e8e8;
@messageColor: white;
@messageShadowColor: #b4b4b4;
@messageHeaderColor: white;
@messengerMargin: 40px;
@messengerSwitchButtonWidth: 50px;
@messengerTransitionTime: 500ms;
@latexButtonWidth: 25px;

#messenger {
    -webkit-flex: 1 1 auto;
    justify-content: flex-start;
    position: absolute;
    right: @messengerMargin;
    bottom: 0;
    width: @messageWidth;
    transition: margin @messengerTransitionTime;
    background-color: @messengerBackColor;
    height: ~"calc(" @inputHeight + @messengerTopBarHeight + @messengerMessagesHeight ~")";
}

#messengerTopBar {
    width: 100%;
    height: @messengerTopBarHeight;
    background-color: #adadad;
    cursor: pointer;
}

#messengerTopBar.flashing {
    background-color: #ffd800;
}

#messageContainer {
    width: 100%;
    flex-flow: column;
    overflow-y: scroll;
    height: @messengerMessagesHeight;
    padding-bottom: @messageMargin;

    .message {
        background-color: @messageColor;
        display: inline-block;
        margin-left: @messageMargin;
        margin-right: @messageMargin;
        margin-top: @messageMargin;
        width: calc(@messageWidth - 2 * @messageMargin - 17px);
        min-height: 0;
        min-width: 0;

        .content {
            white-space: pre-wrap;
            word-wrap: break-word;
            padding: 3px;
        }

        .header {
            padding-top: 2px;
            padding-left: 2px;
            font-size: 10pt;
            font-weight: bold;
            width: 100%;
            background-color: @messageHeaderColor;
            color: rgba(0, 0, 0, 0.3);

            .detail {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 50%;
            }

            .name {
                .detail;
                text-align: left;
            }

            .time {
                .detail;
                text-align: right;
            }
        }

        .emptyHeader {
            display: none;
        }

        .footer {
            height: 0px;
            width: 100%;
            background-color: @messageShadowColor;
        }
    }

    .notification {
        width: @messageWidth;
        margin: @messageMargin;
        margin-bottom: 0px;
        width: ~"calc(@{messageWidth} - 2 * @{messageMargin} - 17px)";
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        font-size: 11pt;
        text-align: center;
    }

    .messageUserRepeat {
        margin-top: @sameUserMessageMargin;
    }
}

.in > #messageContainer, .in > #inputContainer {
    display: none;
}

#messenger.in {
    height: @messengerTopBarHeight;
}

#inputContainer {
    width: 100%;
    display: inline-block;
}

#messageInput {
    float: left;
    height: @inputHeight;
    outline: 0;
    width: ~"calc(100%" - @latexButtonWidth~")";
    border: none;
    background-color: #f6f6f6;
    padding-left: 5px;
    resize: none;
}

#latexInputButton {
    float: left;
    width: @latexButtonWidth;
    font-size: 13pt;
    text-align: center;
    background-color: #f6f6f6;
    height: 100%;
    overflow: hidden;
}

#latexInputButton:hover {
    background-color: #e8e8e8;
}

#latexInputButton:active {
    background-color: #ffffff;
}

#latexInputButton:hover:active {
    background-color: #f1f1f1;
}

#messageInput:hover {
    background-color: #e8e8e8;
}

#messageInput:active {
    background-color: #ffffff;
}

#messageInput:hover:active {
    background-color: #f1f1f1;
}

#switchButton {
    position: absolute;
    top: 0px;
    right: -@messengerSwitchButtonWidth;
    background-color: red;
    width: @messengerSwitchButtonWidth;
    border: none;
    font-size: 20pt;
    text-align: center;
    transition: background-color @messengerTransitionTime;
}

#arrowToggle {
    .noSelect;
    transition: transform 1s;
}

#loadingBlind {
    .fullSize;
    .noSelect;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

#loadingBlind.fadeout {
    transition: background-color 500ms;
    background-color: rgba(0, 0, 0, 0);
}

#latexBody {
    width: 100%;
    height: 300px;
}

#normalText {
    height: 100%;
    width: 50%;
    float: left;
}

#renderedText {
    height: 100%;
    width: 50%;
    float: right;
    padding: 10px;
    font-size: 15pt;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#latexInput {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: 1px solid grey;
}
