@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="sidebar"></div>
<div id="container">
    <canvas id="drawCanvas"></canvas>
    <div class="messenger out">
        <div class="messageContainer">
        </div>
        <div class="inputContainer">
            <input class="input" type="text" placeholder="Enter message here!" />
        </div>
        <div class="switchButton"><i class="arrowToggle fa fa-arrows-h"></i></div>
    </div>
</div>

<div class="loadingBlind"></div>

<script>
    var boardId = "@ViewBag.BoardId";
</script>

@Scripts.Render("~/bundles/app_scripts")
@Styles.Render("~/bundles/app_styles")