@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="sidebar"></div>
<div id="container">
    <canvas id="drawCanvas"></canvas>
    <div class="messenger">
        <div class="messageContainer">
        </div>
        <div class="inputContainer">
            <input class="input" type="text" />
        </div>
    </div>
</div>

<script>
    var boardId = "@ViewBag.BoardId";
</script>

@Scripts.Render("~/bundles/app_scripts")
@Styles.Render("~/bundles/app_styles")