@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="container">
    <canvas id="drawCanvas"></canvas>
</div>

@Scripts.Render("~/bundles/app_scripts")
@Styles.Render("~/bundles/app_styles")