@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="sidebar"></div>
<div id="container">
    <canvas id="drawCanvas"></canvas>
    <div id="messenger">
        <div id="messageContainer">
            <div class="message">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</div>
            <div class="message">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</div>
            <div class="message">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</div>
            <div class="message">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</div>
        </div>
        <div id="messageInputContainer">
            <input id="messageInput" type="text" />
        </div>
    </div>
</div>

<script>
    var boardId = "@ViewBag.BoardId";
</script>

@Scripts.Render("~/bundles/app_scripts")
@Styles.Render("~/bundles/app_styles")