@{
    Layout = null;
}

<div id="createContainer">
    <form id="createBoardForm" action="/Board/Create" method="post">
        <button id="submitCreate" type="submit" class="btn btn-success">Create a Board</button>
    </form>
    <a id="moreInfo" href="/home/about" class="btn btn-info">More Info</a>
</div>
