@{
    ViewBag.Title = "Login";
}

<div id="password" class="page">
    <div id="passwordFormContainer">
        <form role="form" action="/Password/Board/@ViewBag.BoardId/Validate" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Login</button>
                        </span>
                    </div>
                </div>
            </div>
            <input id="hiddenIdInput" type="text" class="form-control" name="BoardId" value="@ViewBag.BoardId">
        </form>
    </div>
</div>
